{% extends 'index.html' %}

{% load static %}

{% block title %}
    Reseteo de Contraseña de Usuario
{% endblock title %}

{% block imagen %} {% static 'assets/img/login.jpg' %} {% endblock imagen %}

{% block titulo_principal %}
    <h1>Reseteo de Contraseña de Usuario</h1>
{% endblock titulo_principal %}

{% block barra_busqueda %}{% endblock barra_busqueda %}

{% block contenido %} 
    <div class="card">
        <div class="card-body">
            <h1>Reseteo de Contraseña de Usuario</h1>
            <form action="" method="post" class="card-content">
                {% csrf_token %}
                <div class="card-item p-2">
                    <h2>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</h2>
                    <h2>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h2>
                </div>
                <div class="card-button p-2">
                    <a class="card-link" href={% url 'inicio' %}>Inicio</a>
                    <a class="card-link" href={% url 'login' %}>Iniciar Sesion</a>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido %}